# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# ChromaDB
chroma_db/

# Dataset
data/raw/
data/processed/

# Environment
app/config.py

# OS
.DS_Store
Thumbs.db